<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
        <style type="text/css" media="screen">

     #h {
        background-image: url("assets/saas.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 286px;
		text-align:center;
		color:#99F;
      }
	  #h1{
		  color: #99F;
		  vertical-align:inherit;

}
	  #h2{
		  background-color:#FCF;
	  }
	  </style>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body >
  
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">

          <%= link_to "sample app", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path  %></li>
              <li><%= link_to "Help",  help_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>

        </div>
      
    </header>

    <div class="container">
            <%= yield %>

      <footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl

  </small>
<div id="h">
<p align="right">Marzieh Vahid </p>

</div>
  <nav>
    <ul>
      <li><%= link_to "About",'#' %></li>
      <li><%= link_to "Contact",'#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
    </div>
    </div>
  </body>
</html>